@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body{
  font-family:'Raleway', sans-serif;
  background: conic-gradient(at top right, slategray, white);
}

.raspored, .raspored1, .raspored2, .kraj{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;


}
